%h1 
  %u Information for:
  %h2= @patient.last_name + ", " + @patient.first_name
  %strong DOB:
  = @patient.date_of_birth
  %br
  %strong Description:
  = @patient.description
  %br
  %strong Gender:
  = @patient.gender
  %br
  %strong Blood Type:
  = @patient.blood_type
  %br
  %br
  %h5
    %strong Patient Location:
    = @patient.workflow_state
    - if @patient.waiting_room?
      %i.fa.fa-user-md.fa-lg
      =link_to "Checkup", checkup_patient_doctor_patient_path(@doctor, @patient), method: :patch
      %i.fa.fa-times.fa-lg
      = link_to "Recieve X-Ray", xray_patient_doctor_patient_path(@doctor, @patient), method: :patch
      %i.fa.fa-bed.fa-lg
      = link_to "Start Surgery", operate_patient_doctor_patient_path(@doctor, @patient), method: :patch
      %i.fa.fa-usd.fa-lg
      = link_to "Bill Patient", pay_patient_doctor_patient_path(@doctor, @patient), method: :patch
      %i.fa.fa-sign-out.fa-lg
      = link_to "Discharge Patient", leave_patient_doctor_patient_path(@doctor, @patient), method: :patch
    - if @patient.checkup_room?
      %i.fa.fa-times.fa-lg
      = link_to "Recieve X-Ray", xray_patient_doctor_patient_path(@doctor, @patient), method: :patch
      %i.fa.fa-bed.fa-lg
      = link_to "Start Surgery", operate_patient_doctor_patient_path(@doctor, @patient), method: :patch
      %i.fa.fa-usd.fa-lg
      = link_to "Bill Patient", pay_patient_doctor_patient_path(@doctor, @patient), method: :patch
    - if @patient.xray_room?
      %i.fa.fa-bed.fa-lg
      = link_to "Start Surgery", operate_patient_doctor_patient_path(@doctor, @patient), method: :patch
      %i.fa.fa-usd.fa-lg
      = link_to "Bill Patient", pay_patient_doctor_patient_path(@doctor, @patient), method: :patch
    - if @patient.surgery_room?
      %i.fa.fa-usd.fa-lg
      = link_to "Bill Patient", pay_patient_doctor_patient_path(@doctor, @patient), method: :patch
    - if @patient.paybill_room?
      %i.fa.fa-sign-out.fa-lg
      = link_to "Discharge Patient", leave_patient_doctor_patient_path(@doctor, @patient), method: :patch
    - if @patient.left?
      %i.fa.fa-refresh.fa-spin
      = link_to "Begin Intake", wait_patient_doctor_patient_path(@doctor, @patient), method: :patch
%br
%br
= link_to "Edit Patient", edit_doctor_patient_path(@doctor, @patient)
|
= link_to "Delete Patient", doctor_patient_path(@doctor, @patient), method: :delete
%br
= link_to "Return to Doctor", doctor_path(@doctor)
|
= link_to "Return to Main", root_path
%br
%h3
  %u Patient's Medications:
= link_to "Add Medication", new_medication_path
%br
%br
  %ul
    - @patient.medications.each do |medication|
      %li
        %strong Medication Name:
        = medication.name
        %br
        %strong Side Effects:
        = medication.side_effects
        %br
        = link_to "Edit Medication", edit_medication_path(medication), class: "btn-sm btn-success"
        |
        = link_to "Delete Medication", medication_path(medication), method: :delete, class: "btn-sm btn-danger", data: { confirm: 'Are you sure?' }
%br
%h3
  %u Patient's Preferred Nurses:
%br
- @nurses.each do |nurse|
  %li
    = nurse.name
    = link_to "Remove", destroy_nurse_doctor_patient_path(@doctor, @patient, nurse_id: nurse.id), method: :delete, class: "btn-sm btn-danger", data: { confirm: 'Are you sure?' }
    %br
    %br
= form_for @nurse, url: create_nurse_doctor_patient_path(@doctor, @patient) do |f|
  = f.text_field :name, placeholder: "Add Nurse"
  = f.submit
  %br