%h1{:colspan => "2", :style => "text-align:center;"}
  %u Our Physicians
%p#notice= notice
%br
%br
/ =form_tag user_posts_path, method: :get, class: "form-search", role: "search" do
/  .input-group
/    =text_field_tag 'search', params[:search], class: "form-control", id: "srch-term", placeholder: "Search"
/    .input-group-btn
/      %button.btn.btn-default{:style => "width:40px;"}
/        %span.glyphicon.glyphicon-search
/  %br
/ = link_to 'Home Page', root_path
.col-md-5
  %a.btn.btn-primary.btn-lg.btn-block{:href => root_path, :role => "button"} Home Page »
  %br
  %ul
  - @doctors.each do |doctor|
    %strong Name:
    = doctor.first_name
    = doctor.last_name
    %br
      %strong Gender:
      = doctor.gender_name
      %br
        %strong Specialty:
        = doctor.specialty
      / = link_to 'More Information', doctor_path(doctor)
      %a.btn.btn-sm.btn-info{:href => doctor_path(doctor), :role => "button"} More Information
      / = link_to 'Edit', edit_doctor_path(doctor)
      %a.btn.btn-sm.btn-warning{:href => edit_doctor_path(doctor), :role => "button"} Edit Information
      %br
      %br
  / = link_to 'Enter New Physician', new_doctor_path
  %a.btn.btn-primary.btn-lg.btn-block{:href => new_doctor_path, :role => "button"} Enter New Physician »