%h1{:colspan => "2", :style => "text-align:center;"}
  %u Physician Information
%br
%strong Name:
= @doctor.first_name
= @doctor.last_name
%br
%strong Gender:
= @doctor.gender_name
%br
%strong Specialty:
= @doctor.specialty
%br
%br
%strong Biography:
= @doctor.biography
%br
%br
/ %a.btn.btn-sm.btn-warning{:href => edit_doctor_path(@doctor), :role => "button"} Edit This Doctor
= link_to "Edit This Doctor", edit_doctor_path(@doctor), class: "btn btn-warning"
/ =link_to "Remove This Doctor", doctor_path(@doctor), method: :delete, data: { confirm: 'Are you sure you want to delete?'}
/ %a.btn.btn-sm.btn-danger{:href => doctor_path(@doctor), method: :delete, :role => "button"} Delete This Doctor
= link_to "Remove This Doctor", doctor_path(@doctor), method: :delete, class: "btn btn-danger", data: { confirm: 'Are you sure?' }
/ %a.btn.btn-sm.btn-primary{:href => doctors_path, :role => "button"} List of Doctors »
= link_to "List of Doctors »", doctors_path, class: "btn btn-primary"
/ %a.btn.btn-sm.btn-primary{:href => root_path, :role => "button"} Return to Home »
= link_to "Return to Home »", root_path, class: "btn btn-primary"

%br
%br
%h3
  %u Physician's Current Patients:

%br
- @patients.each do |patient|
  %li
    %strong Name:
    = link_to patient.last_name + ", " + patient.first_name, doctor_patient_path(@doctor, patient)
    %br
    %strong Date of Birth:
    = patient.date_of_birth
    %br
    %strong Description:
    = patient.description
    %br
    %strong Gender:
    = patient.gender
    %br
    %strong Blood Type:
    = patient.blood_type
    %br
    / = link_to "Edit Patient Information", edit_doctor_patient_path(@doctor, patient)
    / %a.btn.btn-sm.btn-warning{:href => edit_doctor_patient_path(@doctor, patient), :role => "button"} Edit Patient Information
    = link_to "Edit Patient Information", edit_doctor_patient_path(@doctor, patient), class: "btn-sm btn-warning"
    / %a.btn.btn-sm.btn-danger{:href => doctor_patient_path(@doctor, patient), method: :delete, :role => "button"} Delete Patient Information
    = link_to "Remove Patient Information", doctor_patient_path(@doctor, patient), method: :delete, class: "btn-sm btn-danger", data: { confirm: 'Are you sure?' }
    %br
    %br
    %br
/ %a.btn.btn-sm.btn-success{:href => new_doctor_patient_path(@doctor), :role => "button"} Add New Patient
= link_to "Add New Patient »", new_doctor_patient_path(@doctor), class: "btn-sm btn-success"

%br
%br
%h3
  %u Physicians's List of Nurses:
%br
- @nurses.each do |nurse|
  %li
    = nurse.name
    = link_to "Remove", destroy_nurse_doctor_path(nurse), method: :delete, class: "btn-sm btn-danger", data: { confirm: 'Are you sure?' }
    %br
    %br
= form_for @nurse, url: create_nurse_doctor_path(@doctor) do |f|
  = f.text_field :name, placeholder: "Add Nurse"
  = f.submit
